In [1]:
import pandas as pd #data manipulation and analysis package
from alpha_vantage.timeseries import TimeSeries #enables data pull from Alpha Vantage
import matplotlib.pyplot as plt #if you want to plot your findings
import time
import smtplib #enables you to send emails
import datetime
#from datetime import date

In [2]:
#return the percentage dsiffernece between two numbers
def percentage_difference(high, low):
    return ((high - low) / high) * 100

In [3]:
#returns the amount of intervals per day accorfing to interval's length
def interval_length_to_per_day(interval_length, exclude_extended_hours = True):
    day_hours = 6.5 if exclude_extended_hours else 16
    print(f'interval_length_to_per_day  {int((day_hours * 60) // interval_length)}')
    return int((day_hours * 60) // interval_length)

In [4]:
#returns the number of minutes (number) from a string indicating the number of minutes
def interval_length_str_to_num(interval_length):
    switcher = {
        '1min': 1,
        '5min': 5,
        '15min': 15,
        '30min': 30,
        '60min': 60
    }
    return switcher.get(interval_length)

In [5]:
#returns the first index to check or the the length of the df if the desired index
#exceeds the length of the df
def calc_first_index(df_len, days_back, interval_length, exclude_extended_hours = True):
    interval_length = interval_length_str_to_num(interval_length)
    return min(df_len, interval_length_to_per_day(interval_length, exclude_extended_hours) * days_back)

In [6]:
#returns yes iff the time of the date is in extended hours (before 09:30 or after 16:00)
def is_extended_hours(date):
    #time = int(df.index[0][11] + df.index[0][12] + df.index[0][14] + df.index[0][15])
    time = int(date[11] + date[12] + date[14] + date[15])
    return time < 930 or time > 1600

In [7]:
def calc_max_trailing_lost(df, days_back, interval_length, exclude_extended_hours = True):
    max_trailing_lost = 0
    max_trailing_lost_low_date = 'NA'
    max_trailing_lost_high_date = 'NA'
    max_trailing_lost_high_price = 0
    max_trailing_lost_low_price = 0
    highest = 0.00001
    lowest = float('inf')
    highest_date = 'NA'
    lowest_date = 'NA'
    
    first_index = calc_first_index(len(df),days_back, interval_length)
    print(f'first index is: {first_index}')
    #iterates from the first index to check to the current date (index 0)
    for index in reversed(range(first_index)):
        cur_high = float(df['high'][index])
        cur_low = float(df['low'][index])
        cur_date = df.index[index]
        
        if exclude_extended_hours and is_extended_hours(cur_date):
            continue
        
        if cur_low < lowest:
            lowest = cur_low
            lowest_date = cur_date
        
            cur_max_trailing_lost = percentage_difference(highest, lowest)
            if cur_max_trailing_lost > max_trailing_lost:
                #print(f'{cur_max_trailing_lost}, {highest_date}, {lowest_date}')
                max_trailing_lost = cur_max_trailing_lost
                max_trailing_lost_low_date = lowest_date
                max_trailing_lost_high_date = highest_date
                max_trailing_lost_low_price = lowest
                max_trailing_lost_high_price = highest
        
        if cur_high > highest:
            highest = cur_high
            highest_date = cur_date
            lowest = cur_low
            lowest_date = cur_date
        
    return max_trailing_lost, max_trailing_lost_high_date, max_trailing_lost_high_price, max_trailing_lost_low_date, max_trailing_lost_low_price

In [8]:
'''
ts = TimeSeries(key='OJTZP3D81U11N5ST', output_format='pandas')
    # help(ts)

ticker_name = 'AAPL'
interval_length='15min'
slice_length='year1month1'
adj = bool(False)
#data, meta_data = ts.get_daily_adjusted(symbol=ticker_name, outputsize='full')

#TODO: adjusted is'nt working
#data, meta_data = ts.get_intraday_extended(ticker_name, interval_length, slice_length)


#data_high = data['2. high']
#data_low = data['3. low']
'''

"\nts = TimeSeries(key='OJTZP3D81U11N5ST', output_format='pandas')\n    # help(ts)\n\nticker_name = 'AAPL'\ninterval_length='15min'\nslice_length='year1month1'\nadj = bool(False)\n#data, meta_data = ts.get_daily_adjusted(symbol=ticker_name, outputsize='full')\n\n#TODO: adjusted is'nt working\n#data, meta_data = ts.get_intraday_extended(ticker_name, interval_length, slice_length)\n\n\n#data_high = data['2. high']\n#data_low = data['3. low']\n"

In [12]:
ticker_name = 'AAPL'
interval_length = '1min'
slice_length = 'year1month1'
adj = False
#how many days back you want to check
days_back = 150

In [16]:
ts = TimeSeries(key='OJTZP3D81U11N5ST', output_format='csv')
#public key: OJTZP3D81U11N5ST

#data, meta_data = ts.get_daily_adjusted(symbol=ticker_name, outputsize='full')

#TODO: adjusted is'nt working
data = ts.get_intraday_extended(symbol = ticker_name, interval = interval_length, slice = slice_length)


#data_high = data['2. high']
#data_low = data['3. low']

In [17]:
df = pd.DataFrame(list(data[0]))

#csv.reader to dataframe(pandas)
header_row=0

df.columns = df.iloc[header_row]
df = df.drop(header_row)
df.set_index('time', inplace=True)

In [121]:
df

0                      open    high       low   close volume
time
2021-03-26 20:00:00   121.1  121.11     121.1   121.1   1181
2021-03-26 19:59:00   121.1  121.12     121.1  121.11   4225
2021-03-26 19:58:00  121.11  121.11    121.08   121.1   1297
2021-03-26 19:57:00   121.1  121.11  121.0901  121.11   1247
2021-03-26 19:56:00  121.12  121.12    121.12  121.12    817
...                     ...     ...       ...     ...    ...
2021-02-26 04:05:00   121.4   121.5     121.4  121.49   3872
2021-02-26 04:04:00   121.3  121.43     121.3  121.41   1300
2021-02-26 04:03:00  121.38   121.4     121.3   121.4   3792
2021-02-26 04:02:00  121.51  121.54    121.45  121.45   1647
2021-02-26 04:01:00  121.68  121.81     121.0   121.0  15863

[18522 rows x 5 columns]

In [19]:
def get_df_intraday(ticker_name, interval_length, slice_length):
    ts = TimeSeries(key='OJTZP3D81U11N5ST', output_format='csv')
    #public key: OJTZP3D81U11N5ST

    #data, meta_data = ts.get_daily_adjusted(symbol=ticker_name, outputsize='full')

    #TODO: adjusted is'nt working
    data = ts.get_intraday_extended(symbol = ticker_name, interval = interval_length, slice = slice_length)


    #data_high = data['2. high']
    #data_low = data['3. low']
    
    df = pd.DataFrame(list(data[0]))

    #csv.reader to dataframe(pandas)
    header_row=0

    df.columns = df.iloc[header_row]
    df = df.drop(header_row)
    df.set_index('time', inplace=True)
    return df

In [120]:
'''
Gets a list of dataframes and returns an appended dataframe of all
of them together
'''
def append_dfs_list(dfs):
    df = dfs[0]
    for i in range(1, len(dfs)):
        df = df.append(dfs[i])
    return df

In [26]:
dfs = [df_1, df_2]
df_full = append_dfs_list(dfs)

In [27]:
df_full

,open,high,low,close,volume
time,,,,,
2021-03-19 20:00:00,120.02,120.02,119.9901,120.02,3479
2021-03-19 19:59:00,120.05,120.05,120.0,120.02,3014
2021-03-19 19:58:00,119.98,120.04,119.98,120.04,4125
2021-03-19 19:57:00,119.96,120.0,119.96,120.0,5186
2021-03-19 19:56:00,119.95,119.97,119.95,119.96,3798
...,...,...,...,...,...
2021-01-20 04:05:00,127.99813383,127.99813383,127.99813383,127.99813383,620
2021-01-20 04:04:00,128.337624941,128.337624941,128.337624941,128.337624941,895
2021-01-20 04:03:00,128.307669843,128.397535137,128.307669843,128.397535137,681
2021-01-20 04:02:00,128.29768481,128.29768481,128.29768481,128.29768481,555
2021-01-20 04:01:00,128.487400431,128.507370496,127.808418209,127.818403242,9915

In [29]:
type(df_full)

pandas.core.frame.DataFrame

In [22]:
df

0                      open    high       low   close volume
time
2021-03-26 20:00:00   121.1  121.11     121.1   121.1   1181
2021-03-26 19:59:00   121.1  121.12     121.1  121.11   4225
2021-03-26 19:58:00  121.11  121.11    121.08   121.1   1297
2021-03-26 19:57:00   121.1  121.11  121.0901  121.11   1247
2021-03-26 19:56:00  121.12  121.12    121.12  121.12    817
...                     ...     ...       ...     ...    ...
2021-02-26 04:05:00   121.4   121.5     121.4  121.49   3872
2021-02-26 04:04:00   121.3  121.43     121.3  121.41   1300
2021-02-26 04:03:00  121.38   121.4     121.3   121.4   3792
2021-02-26 04:02:00  121.51  121.54    121.45  121.45   1647
2021-02-26 04:01:00  121.68  121.81     121.0   121.0  15863

[18522 rows x 5 columns]

In [228]:
'''
Returns a list of the slices to add between the start_date and the end_date
'''
def get_full_slices(start_date, end_date):
    first_month_months_ago = months_between_dates(start_date, "today")
    end_month_months_ago = months_between_dates(end_date, "today") 
    months = []
    
    print(first_month_months_ago)
    print(end_month_months_ago)
    
    for month_ago in range(24, 0, -1):
        #print(f'first: {first_month_months_ago}; end: {end_month_months_ago};  month_ago: {month_ago}')
        if month_ago < end_month_months_ago:
            break
        if month_ago <= first_month_months_ago:
            months.append(get_slice(month_ago))
            #print(f'need to add month {month_ago} and the slice is: {get_slice(month_ago)}')
    return months

print(get_full_slices('01-02-2021', '28-03-2021'))

2
0
['year1month2', 'year1month1']

In [215]:
'''
Gets a df of the ticker from the start_date to end_date
'''
def get_full_df(ticker_name, start_date, end_date):
    slices = get_full_slices(start_date, end_date)[::-1]
    interval_length = '1min'
    dfs = []
    res = None
    print(slices)
    for slice_length in slices:
        cur_df = get_df_intraday(ticker_name, interval_length, slice_length)
        print(cur_df)
        if res is None:
            res = cur_df
        else:
            res = res.append(cur_df)
        #dfs.append(cur_df)
        print(res)
        #print(slice_length)
        #print('\n')
        
    return res

        
get_full_df('AAPL', '01-02-2021', '30-03-2021')

['year1month1', 'year1month2', 'year1month3']
0                      open    high       low   close volume
time
2021-03-26 20:00:00   121.1  121.11     121.1   121.1   1181
2021-03-26 19:59:00   121.1  121.12     121.1  121.11   4225
2021-03-26 19:58:00  121.11  121.11    121.08   121.1   1297
2021-03-26 19:57:00   121.1  121.11  121.0901  121.11   1247
2021-03-26 19:56:00  121.12  121.12    121.12  121.12    817
...                     ...     ...       ...     ...    ...
2021-02-26 04:05:00   121.4   121.5     121.4  121.49   3872
2021-02-26 04:04:00   121.3  121.43     121.3  121.41   1300
2021-02-26 04:03:00  121.38   121.4     121.3   121.4   3792
2021-02-26 04:02:00  121.51  121.54    121.45  121.45   1647
2021-02-26 04:01:00  121.68  121.81     121.0   121.0  15863

[18522 rows x 5 columns]
0                      open    high       low   close volume
time
2021-03-26 20:00:00   121.1  121.11     121.1   121.1   1181
2021-03-26 19:59:00   121.1  121.12     121.1  121.11   4225
2021-03-26 19:58:00  121.11  121.11    121.08   121.1   1297
2021-03-26 19:57:00   121.1  121.11  121.0901  121.11   1247
2021-03-26 19:56:00  121.12  121.12    121.12  121.12    817
...                     ...     ...       ...     ...    ...
2021-02-26 04:05:00   121.4   121.5     121.4  121.49   3872
2021-02-26 04:04:00   121.3  121.43     121.3  121.41   1300
2021-02-26 04:03:00  121.38   121.4     121.3   121.4   3792
2021-02-26 04:02:00  121.51  121.54    121.45  121.45   1647
2021-02-26 04:01:00  121.68  121.81     121.0   121.0  15863

[18522 rows x 5 columns]
0                             open           high            low  \
time
2021-02-25 20:00:00         120.57          120.8         120.57
2021-02-25 19:59:00        120.849         120.95         120.65
2021-02-25 19:58:00         120.55          121.0         120.55
2021-02-25 19:57:00         120.49          120.6         120.45
2021-02-25 19:56:00         120.16         120.49         120.16
...                            ...            ...            ...
2021-01-27 04:05:00  144.782973752  144.802943818  144.753018654
2021-01-27 04:04:00  144.533347936   144.66315336  144.433497609
2021-01-27 04:03:00  144.283722119  144.493407805  144.283722119
2021-01-27 04:02:00  144.293707151  144.553318001  144.293707151
2021-01-27 04:01:00  144.503392838  144.653168328  144.183871792

0                            close volume
time
2021-02-25 20:00:00          120.8  26086
2021-02-25 19:59:00         120.65   6242
2021-02-25 19:58:00         120.94  31779
2021-02-25 19:57:00         120.52  11809
2021-02-25 19:56:00         120.49   6449
...                            ...    ...
2021-01-27 04:05:00  144.802943818   2486
2021-01-27 04:04:00  144.433497609   1765
2021-01-27 04:03:00  144.493407805   3502
2021-01-27 04:02:00   144.36360238   3916
2021-01-27 04:01:00  144.223811923   6185

[18587 rows x 5 columns]
0                             open           high            low  \
time
2021-03-26 20:00:00          121.1         121.11          121.1
2021-03-26 19:59:00          121.1         121.12          121.1
2021-03-26 19:58:00         121.11         121.11         121.08
2021-03-26 19:57:00          121.1         121.11       121.0901
2021-03-26 19:56:00         121.12         121.12         121.12
...                            ...            ...            ...
2021-01-27 04:05:00  144.782973752  144.802943818  144.753018654
2021-01-27 04:04:00  144.533347936   144.66315336  144.433497609
2021-01-27 04:03:00  144.283722119  144.493407805  144.283722119
2021-01-27 04:02:00  144.293707151  144.553318001  144.293707151
2021-01-27 04:01:00  144.503392838  144.653168328  144.183871792

0                            close volume
time
2021-03-26 20:00:00          121.1   1181
2021-03-26 19:59:00         121.11   4225
2021-03-26 19:58:00          121.1   1297
2021-03-26 19:57:00         121.11   1247
2021-03-26 19:56:00         121.12    817
...                            ...    ...
2021-01-27 04:05:00  144.802943818   2486
2021-01-27 04:04:00  144.433497609   1765
2021-01-27 04:03:00  144.493407805   3502
2021-01-27 04:02:00   144.36360238   3916
2021-01-27 04:01:00  144.223811923   6185

[37109 rows x 5 columns]
0                             open           high            low  \
time
2021-01-26 20:00:00  144.792958785  144.852868981  144.792958785
2021-01-26 19:59:00  144.782973752  144.802943818   144.77298872
2021-01-26 19:58:00   144.77298872  144.782973752  144.763003687
2021-01-26 19:57:00   144.77298872   144.77298872  144.753018654
2021-01-26 19:56:00  144.782973752  144.782973752   144.77298872
...                            ...            ...            ...
2020-12-28 04:05:00  132.601233892  132.691099186  132.601233892
2020-12-28 04:04:00  132.691099186  132.691099186  132.691099186
2020-12-28 04:03:00  132.681114153  132.681114153  132.681114153
2020-12-28 04:02:00  132.741024349  132.790949513  132.671129121
2020-12-28 04:01:00   132.52135363  132.701084219   132.52135363

0                            close volume
time
2021-01-26 20:00:00  144.802943818  33063
2021-01-26 19:59:00  144.792958785  36761
2021-01-26 19:58:00   144.77298872  13062
2021-01-26 19:57:00   144.77298872   4443
2021-01-26 19:56:00   144.77298872   5667
...                            ...    ...
2020-12-28 04:05:00  132.691099186   1303
2020-12-28 04:04:00  132.691099186    834
2020-12-28 04:03:00  132.681114153    808
2020-12-28 04:02:00  132.681114153   1524
2020-12-28 04:01:00  132.681114153   1960

[17528 rows x 5 columns]
0                             open           high            low  \
time
2021-03-26 20:00:00          121.1         121.11          121.1
2021-03-26 19:59:00          121.1         121.12          121.1
2021-03-26 19:58:00         121.11         121.11         121.08
2021-03-26 19:57:00          121.1         121.11       121.0901
2021-03-26 19:56:00         121.12         121.12         121.12
...                            ...            ...            ...
2020-12-28 04:05:00  132.601233892  132.691099186  132.601233892
2020-12-28 04:04:00  132.691099186  132.691099186  132.691099186
2020-12-28 04:03:00  132.681114153  132.681114153  132.681114153
2020-12-28 04:02:00  132.741024349  132.790949513  132.671129121
2020-12-28 04:01:00   132.52135363  132.701084219   132.52135363

0                            close volume
time
2021-03-26 20:00:00          121.1   1181
2021-03-26 19:59:00         121.11   4225
2021-03-26 19:58:00          121.1   1297
2021-03-26 19:57:00         121.11   1247
2021-03-26 19:56:00         121.12    817
...                            ...    ...
2020-12-28 04:05:00  132.691099186   1303
2020-12-28 04:04:00  132.691099186    834
2020-12-28 04:03:00  132.681114153    808
2020-12-28 04:02:00  132.681114153   1524
2020-12-28 04:01:00  132.681114153   1960

[54637 rows x 5 columns]

,open,high,low,close,volume
time,,,,,
2021-03-26 20:00:00,121.1,121.11,121.1,121.1,1181
2021-03-26 19:59:00,121.1,121.12,121.1,121.11,4225
2021-03-26 19:58:00,121.11,121.11,121.08,121.1,1297
2021-03-26 19:57:00,121.1,121.11,121.0901,121.11,1247
2021-03-26 19:56:00,121.12,121.12,121.12,121.12,817
...,...,...,...,...,...
2020-12-28 04:05:00,132.601233892,132.691099186,132.601233892,132.691099186,1303
2020-12-28 04:04:00,132.691099186,132.691099186,132.691099186,132.691099186,834
2020-12-28 04:03:00,132.681114153,132.681114153,132.681114153,132.681114153,808
2020-12-28 04:02:00,132.741024349,132.790949513,132.671129121,132.681114153,1524
2020-12-28 04:01:00,132.52135363,132.701084219,132.52135363,132.681114153,1960

In [189]:
'''
Returns the slice at month_ago
'''
def get_slice(month_ago):
    bias_month_ago = month_ago - 1
    slice_year = bias_month_ago // 12 + 1
    slice_month = bias_month_ago - ((slice_year - 1) * 12)
    slice_name = 'year' + str(slice_year) + 'month' + str(slice_month + 1)
    return slice_name

In [249]:
df.index[0]

'2021-03-26 20:00:00'

In [280]:
'''
returns the number of months between two given dates
'''
#TODO: Fix returned months, because now it returns the months differnce + 1
def months_between_dates(start_date, end_date):
    start_date = pd.Timestamp(start_date)
    print(start_date)
    end_date = pd.Timestamp(end_date)
    print(end_date)
    res = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)
    print(end_date - start_date)
    
    return (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month) + 1

print (months_between_dates('2021-02-26', "2021-03-20"))

2021-02-26 00:00:00
2021-03-20 00:00:00
22 days 00:00:00
2

In [116]:
date_time_str = df.index[0]
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
#print(date_time_obj.to_period())
#today = pd.to_datetime("today")
today = pd.Timestamp('today')
desired = pd.Timestamp(df.index[15000])
delta = today - desired

delta_months = (today.year - desired.year) * 12 + (today.month - desired.month)
print(delta_months)
print(delta.days)
print(today)
print(desired)
print(desired.to_period('M'))

0
25
2021-03-28 23:44:52.429313
2021-03-03 18:17:00
2021-03

In [45]:
df.index[0]

'2021-03-26 20:00:00'

In [18]:
df_1 = get_df_intraday(ticker_name, interval_length, slice_length)

In [16]:
df_2 = get_df_intraday(ticker_name, interval_length, 'year1month2')

In [17]:
df_2

,open,high,low,close,volume
time,,,,,
2021-02-18 20:00:00,129.02,129.09,129.0,129.0,7758
2021-02-18 19:59:00,129.04,129.05,129.03,129.03,5533
2021-02-18 19:58:00,129.02,129.04,129.01,129.031,2743
2021-02-18 19:57:00,129.02,129.06,129.0,129.06,5473
2021-02-18 19:56:00,129.0,129.02,129.0,129.0,3008
...,...,...,...,...,...
2021-01-20 04:05:00,127.99813383,127.99813383,127.99813383,127.99813383,620
2021-01-20 04:04:00,128.337624941,128.337624941,128.337624941,128.337624941,895
2021-01-20 04:03:00,128.307669843,128.397535137,128.307669843,128.397535137,681
2021-01-20 04:02:00,128.29768481,128.29768481,128.29768481,128.29768481,555
2021-01-20 04:01:00,128.487400431,128.507370496,127.808418209,127.818403242,9915

In [15]:
df

0                    open  high   low close volume
time
2021-03-24 19:51:00  1.46  1.46  1.46  1.46    100
2021-03-24 19:40:00  1.42  1.42  1.42  1.42    200
2021-03-24 19:39:00  1.42  1.42  1.42  1.42    100
2021-03-24 19:35:00  1.42  1.42  1.42  1.42    150
2021-03-24 19:33:00  1.43  1.43  1.43  1.43    400
...                   ...   ...   ...   ...    ...
2021-02-23 09:09:00  4.45  4.45  4.45  4.45    100
2021-02-23 09:04:00   4.4   4.4   4.4   4.4    575
2021-02-23 09:02:00  4.41  4.41  4.41  4.41    125
2021-02-23 08:59:00   4.5   4.5   4.5   4.5   2620
2021-02-23 07:01:00  4.54  4.56  4.54  4.56    910

[8360 rows x 5 columns]

In [28]:
#max_trailing_lost_data = calc_max_trailing_lost(df, days_back, interval_length)
max_trailing_lost_data = calc_max_trailing_lost(df, 2, interval_length)
max_trailing_lost = max_trailing_lost_data[0]
max_trailing_lost_high_date = max_trailing_lost_data[1]
max_trailing_lost_low_date = max_trailing_lost_data[3]
max_trailing_lost_low_price = max_trailing_lost_data[4]
max_trailing_lost_high_price = max_trailing_lost_data[2]
print(max_trailing_lost_data)
#print(f'The max trailing loss is: %{max_trailing_lost}')

interval_length_to_per_day  390
first index is: 780
(7.792207792207799, '2021-03-23 16:01:00', 1.54, '2021-03-24 09:47:00', 1.42)

In [30]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
df['close']

time
2021-03-17 19:59:00      8.8
2021-03-17 19:58:00     8.88
2021-03-17 19:57:00     8.88
2021-03-17 19:56:00     8.78
2021-03-17 19:50:00     8.78
                       ...
2021-02-16 04:05:00     12.1
2021-02-16 04:04:00     12.1
2021-02-16 04:03:00    12.11
2021-02-16 04:02:00    12.09
2021-02-16 04:01:00    12.15
Name: close, Length: 16120, dtype: object

In [13]:
df['close'].plot()
plt.title('Intraday Times Series for the MSFT stock (1 min)')
plt.show()

TypeError: no numeric data to plot

In [41]:
df.index

Index(['2021-03-15 20:00:00', '2021-03-15 19:55:00', '2021-03-15 19:50:00',
       '2021-03-15 19:45:00', '2021-03-15 19:40:00', '2021-03-15 19:35:00',
       '2021-03-15 19:30:00', '2021-03-15 19:25:00', '2021-03-15 19:20:00',
       '2021-03-15 19:15:00',
       ...
       '2021-02-16 04:50:00', '2021-02-16 04:45:00', '2021-02-16 04:40:00',
       '2021-02-16 04:35:00', '2021-02-16 04:30:00', '2021-02-16 04:25:00',
       '2021-02-16 04:20:00', '2021-02-16 04:15:00', '2021-02-16 04:10:00',
       '2021-02-16 04:05:00'],
      dtype='object', name='time', length=3829)

In [50]:
int(df.index[0][11] + df.index[0][12] + df.index[0][14] + df.index[0][15]) >= 1630

2000

4